.slideWrapper {
    position: relative;
    overflow: hidden;
    // height: 670rem;
}

.slideItem {
    position: relative;
    overflow: hidden;
    // height: 670rem;

    &>img {
        // vertical-align: middle;
        top: 70%;
        left: 50%;
        transform: translateX(20%) scale(75%);
        height: 40rem;
        transition: transform 0.15s, filter 0.15s;
        transform-origin: 50% 50%;
        filter: brightness(55%);
    }

    &[data-highlight="true"] {
        &>img {
            transform: translateX(30%) scale(100%);
            filter: brightness(100%);
        }
    }

    &[data-prev="true"] {
        &>img {
            transform: translateX(25%) scale(40%);
        }
    }
}