@font-face {
    font-family: RobotoCondensed-Regular;
    src: url("../../public/font/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: RobotoCondensed-BoldItalic;
    src: url("../../public/font/RobotoCondensed-BoldItalic.ttf");
}

@font-face {
    font-family: RobotoCondensed-Italic;
    src: url("../../public/font/RobotoCondensed-Italic.ttf");
}

.nameProfile {
    color: #FFFFFF;
    margin-top: 7%;
    font-family: RobotoCondensed-BoldItalic, sans-serif;
    font-size: 1.5rem;
}

.exampleProfileList {
    color: #FFFFFF;
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 1.25rem;
    text-align: -webkit-match-parent;
    display: list-item;
}

.exampleProfile {
    color: #FFFFFF;
    font-family: RobotoCondensed-Regular, sans-serif;
    font-size: 1.25rem;
}

.text {
    margin-top: 7.5%;
    font-size: 7rem;
    color: #CE8AB3;
    font-family: RobotoCondensed-BoldItalic, sans-serif;
}

.title {
    font-size: 6.5rem;
    color: #FFFFFF;
    font-family: RobotoCondensed-BoldItalic, sans-serif;
}

.example {
    font-family: RobotoCondensed-Regular, sans-serif;
    margin-top: 3%;
    font-size: 1.6rem;
    color: #FFFFFF;
}